body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Nav section */

.main-head {
  background-color: #006466;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 0.1rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

.header--logo {
  font-size: 2.6rem;
  flex: 1 1 40rem;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

/* About Section */

.about--container {
  font-family: 'Cabin Sketch', sans-serif;
  background-image: url('assets/images/bkgnd-1.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.about--header {
  font-size: 5rem;
}

.about--text {
  flex: 1 1 50rem;
  padding-left: 5rem;
}

.about--h2 {
  font-size: 2rem;
}

.about--img--container {
  margin: auto;
  flex: 1 1 50px;
}

.about--img {
  max-width: 400px;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.about--end {
  font-size: 2rem;
  position: absolute;
  top: 400px;
  left: 600px;
}

/* Media Queries */

@media screen and (max-width: 1500px) {
  nav {
    text-align: center;
  }
  .header--logo {
    padding: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .about--end {
    display: none;
  }

  .about--text {
    margin: auto;
  }

  .about--img {
    margin: auto;
  }
}

@media screen and (max-width: 1300px) {
  .about--container {
    text-align: center;
    background-size: 100% 1050px;
  }

  .about--text {
    padding: 0;
    margin: auto;
  }

  .about--img {
    margin: auto;
  }

  .about--end {
    display: none;
  }
}

@media screen and (max-width: 1216px) {
  .about--container {
    background-size: cover;
    background-position: 100%;
    height: 100%;
  }
}
